.hero {
    min-height: 550px;
    background-image: url(/img/first-bg\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_container {
    padding-top: 113px;
}

.hero_wrapper {
    max-width: 550px;  
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero_title {
    margin: 0 0 26px 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
}

.hero_descr {
    margin-bottom: 34px;
}

.hero_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_btn {
    margin-bottom: 14px;
    padding: 19px 58px;
}

.inner_descr {
    margin: 0;
    padding-left: 27px;
    background-image: url('../img/Vector.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 14px 17px;
    font-size: 11px;
    flood-color: #787878;
}

.services {
    border-bottom: 1px solid #C4C4C4;
}

.services_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 87px;
    padding-bottom: 160px;
}

.services_title {
    margin-bottom: 21px;
}

.services_descr {
    margin-bottom: 54px;
}

.services_list {
    display: flex;
    justify-content: space-around;

}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 30px;
    max-width: 270px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    text-align: center;
}

.service:nth-last-child(n+2) {
    margin-right: 30px;
}

.service svg {
    margin-bottom: 27px;
}

.service_title {
    margin: 0 0 17px 0;
    font-weight: 600;
    font-size: 20px;
}

.service_descr {
    font-weight: 400;
    font-size: 14px;
    color: #787878;
}

.articles {
    border-bottom: 1px solid #C4C4C4;
    padding: 87px 0 160px 0;
}

.articles_title {
    margin-bottom: 42px;
}

.articles_list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    display: flex;
    margin-bottom: 30px;
    max-width: 570px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.article:nth-child(odd) {
    margin-right: 30px;
}

.article:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.article_wrapper {
    padding: 23px 160px 38px 30px;
}

.article_date {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    color: #787878;
}

.article_title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
}

.article_descr {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
}

.clients {
    border-bottom: 1px solid #C4C4C4;
    padding: 87px 0 160px 0;
}

.clients_title {
    margin-bottom: 42px; 
}

.clients_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.client {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    max-width: 370px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 51px 53px 32px 36px;
}

.client_feedback {
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
    text-align: start;
}

.client_wrapper {
    display: flex;
    padding-top: 28px;
    border-top: 1px solid #DADADA;
}

.client_foto {
    margin-right: 17px;
    width: 67px;
    height: 67px;
    border-radius: 50%;
}

.client_name {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
}

.client_appointment {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.contacts {
    border-bottom: 1px solid #C4C4C4;
    padding: 87px 0 160px 0;
}

.contacts_title {
    margin-bottom: 60px;
}

.contacts_list {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 83px 32px 0;
    width: 370px;
}

.contact svg {
    margin-bottom: 22px;
}

.contact_title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
}

.contact_descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.join-us_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 87px 0 32px 0;
}

.join-us_title {
    margin-bottom: 22px;
}

.join-us_descr {
    margin-bottom: 30px;
}

.join-us_form {
    display: flex;
    justify-content: center;
}

.form_wrapper__left {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 600px;
}

.input {
    width: 251px;
    height: 60px;
    margin: 0 18px 18px 0;
    opacity: 0.6;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 50px;
}

.message {
    width: 520px;
    height: 139px;
    margin: 0;
    border-radius: 25px;
    resize: none;
}